---
- hosts: all
  become: true
  tasks:
    - name: install apache2
      apt:
        name: apache2
        state: latest
    - name: service retart
      service:
        name: apache2
        state: restarted